.h1, .h2, .h3, .h4, .lead, body, h1, h2, h3, h4 {
	font-family: RobotoDraft,Roboto,"Helvetica Neue",Helvetica,"Segoe UI","Microsoft YaHei",arial,sans-serif;
	font-weight: 400;
}

body>.container {
	margin-top: 20px;
	margin-bottom: 60px;
}

footer {
	margin: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	height: 50px;
	box-shadow: 0 0 10px #202020;
}

#main {
	padding-top: 80px;
}

.navbar.navbar-inverse {
	border: 0;
	box-shadow: 0 0 10px #000;
	background-color: rgba(63,81,181,.92);
}

/* billboard */
.billboard {
	  background: #b8d9fa url(../img/billboard.jpg) center center repeat-x;
	  background-size: cover;
	  padding: 170px 0 100px;
	  box-shadow: 0 2px 8px rgba(0,0,0,.25),0 2px 8px rgba(0,0,0,.12);
}

.billboard .intro {
	color: #fff;
	text-shadow: 0 0 15px #202020;

}

/* post style */
.post-meta {
	color: #999;
	font-size: 11px;
	margin: 10px 5px;
}

.post-title {
	font-size: 28px;
	line-height: 1.7em;
	margin-top: 5px;
}

.post-title,.post-meta,.post-content {
	padding: 0 30px;
}

.post-title a {
	text-decoration: none;
}

.post-content {
	overflow: auto;
}

/* page nav */
.page-navigator {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.page-navigator li.current {
	color: #FFF;
  	background: #323C3F none repeat scroll 0% 0%;
}

.page-navigator>li {
	display: inline;
}

.page-navigator>li:first-child>a, .page-navigator>li:first-child>span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.page-navigator>.active>a, .page-navigator>.active>span, .page-navigator>.active>a:hover, .page-navigator>.active>span:hover, .page-navigator>.active>a:focus, .page-navigator>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #428bca;
	border-color: #428bca;
}

.page-navigator>li>a, .page-navigator>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

/* search */
#search-btn {
	padding: 10px;
	border-radius: 25px;
	height: 32px;
	width: 32px;
	font-size: 14px;
}

/* sidebar */
.col-md-3 .panel .item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	border: 1px solid #EEE;
	color: #555;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
}

.col-md-3 .panel a.panel-heading {
	display: block;
	text-decoration: none;
}

a:hover.item {
	background-color: #eee;
}

/* footer */
footer .footer-bottom {
	background: rgba(27,33,34,.92);
}

footer .footer-bottom {
	color: #aaa;
	padding: 10px 0;
	font-size: 12px;
}

div.copyright, ul.footer-nav {
	  padding: 6px 0;
}

.pull-left {
	float: left!important;
}

@media (min-width: 768px) footer .footer-bottom ul.footer-nav {
	min-height: 460px;
}

@media (min-width: 992px) footer .footer-bottom ul.footer-nav {
	display: block;
}

div.copyright, ul.footer-nav {
	padding: 6px 0;
}

.pull-right {
	float: right!important;
}

footer .footer-bottom ul.footer-nav li:first-child {
	border-left: 0;
}

footer .footer-bottom ul.footer-nav li {
	list-style: none;
	display: inline-block;
	padding: 0 15px;
	border-left: 1px solid #fff;
}

footer .footer-bottom ul.footer-nav li a {
	color: #aaa;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

/* comment */
#comments, .tags {
	padding: 16px;
}

.comment-list {
	list-style: none;
	border-radius: 0;
	padding-left: 0;
	margin-bottom: 0;
}

#comments .comment-list li {
	position: relative;
	display: block;
	background-color: #FFF;
	padding: 10px 10px 0;
	box-shadow: 0 3px 8px rgba(0,0,0,.23),0 3px 8px rgba(0,0,0,.16);
	border: 0;
	border-radius: 0;
	margin-bottom: 15px;
	line-height: 1.5em;
	overflow: hidden;
}

.comment-author {
	float: left;
}

cite.fn {
	font-weight: bolder;
}

.comment-meta {
	float: right;
}

.comment-content {
	content: " ";
	display: table;
	clear: both;
	font-size: 14px;
	padding: 10px 0;
}

.cancel-comment-reply, .comment-reply {
	text-align: right;
}

#reply-button {
	border-radius: 25px;
	padding: 10px;
	margin-top: 0;
	font-size: 16px;
}
